$black: #201D1D;
$black-light: #4C4343;
$white: #EBEBEB;
$grey: #666666;
$grey-light: #757575;
$yellow: #ffcc32;
$yellow-light: #EED595;
$blue: #07c7c7;
$blue-light: #08D9D9;
$blue-dark: #07B0B0;
$red: #ED4B45;
$green: #28A428;