@import "./partials/flexer";
@import "./partials/colors";

$buildingHeight: 594px;
$buildingWidth: 500px;

$ElevatorFloor: './img/ElevatorFloor.png';
$roof: './img/rooftest.png';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $black-light;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

/**** *****/

#root {
  @include FlexRow(nowrap, center, center);
}

.main-cont{
  width: 100%;
  min-height: 95vh;
  background: rgb(255,191,105);
  background: linear-gradient(145deg, rgba(255,191,105,1) 11%, rgba(255,179,71,1) 32%, rgba(255,170,51,1) 61%);
  @include FlexRow(nowrap, center, flex-end);
}

.queue{
  width: 100px;
  color: $black-light;
}

.building-section {
  margin: 0 75px;
}
.roof{
  width: 516px;
  height: 20px;
  margin-bottom: -2px;
  background-image: url($roof);
  background-repeat: no-repeat;
}

.building-cont {
  @include FlexRow(nowrap, center, center);
  box-sizing: content-box;
  width: $buildingWidth;
  height: $buildingHeight;
  border: 8px solid $grey-light;
  border-top-left-radius: 4px;
}

.floors-cont{
  width: 100%;
  height: 100%;
  .floor, .shaft{
    width: 100%;
    height: calc($buildingHeight / 9); 
  }
  .floor{
    @include FlexRow(nowrap, space-between, center);
    background-color: $blue;
    padding: 0 20px;
    height: calc($buildingHeight / 9);
    p {
      @include FlexRow(nowrap, center, center);
      width: 40px;
      height: 40px;
      padding: 20px;
      color: $blue-dark;
      background-color: $yellow-light;
      border-radius: 50%;
      border: 2px solid $white;
      font-size: 26px;
      font-family: 'Michroma', sans-serif;
    }
  }
  .shaft{
    background-color: $grey-light;
  }
}

.elevator{
  width: 50%;
  .floor, .shaft{
    width: 100%;
    height: calc($buildingHeight / 9);
  }
  .floor{
    background-color: $blue-dark;
    @include FlexRow(nowrap, flex-end, flex-end);
    .button-cont{
      .button {
        width: 15px;
        height: 15px;
        margin-bottom: 15px;
        background-color: $green;
        border: 2px solid $black-light;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
      }
      .active {
        background-color: $red;
      }
      .inactive {
        background-color: $yellow-light;
      }
      .currentFloor{
        background-color: $grey-light;
      }
    }
    .button-cont:hover{
      cursor: pointer;
    }
    .cabin {
      width: 35px;
      height: 40px;
      margin: 0 20px 0 10px;
      transition: all 0.2s ease-in-out;
      border: 2px solid $black-light;
      border-bottom: none;
    }
    .present {
      background-color: $blue-light;
    }
    .absent {
      background-color: $grey;
    }
  }
  .shaft{
    background-color: #525252;
    @include FlexRow(nowrap, flex-start, flex-start);
    .lightbulb {
      width: 10px;
      height: 10px;
      margin: 10px 20px;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }
    .on{
      background-color: $yellow;
    }
    .off {
      background-color: $black;
    }
  }
}

.elevator-control {
  // @include FlexRow(wrap, space-between, center);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  width: 175px;
  height: 200px;
  padding: 35px;
  background-color: $blue;
  border: 2px solid $black-light;
  border-radius: 10px;
  margin-bottom: calc($buildingHeight / 3);
    .button{
      width: 35px;
      height: 35px;
      margin: 3px;
      color: $black-light;
      font-weight: 400;
      font-size: 28px;
      border-radius: 10px;
      border: 2px solid $white;
      transition: all 0.2s ease-in-out;
      @include FlexRow(nowrap, center, center)
    }
    .active {
      background-color: $red;
    }
    .inactive {
      background-color: $yellow-light;
    }
    .activeRequest {
      background-color: $yellow;
      color: $black-light;
    }
    .currentFloor{
      background-color: $black-light;
      color: $yellow-light;
    }
    .button:hover {
      cursor: pointer;
    }
  }
