@import "./partials/flexer";
@import "./partials/colors";

$buildingHeight: 594px;
$buildingWidth: 500px;

$roofsvg: './img/roofsvg.svg';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $black-light;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

/**** *****/

#root {
  @include FlexRow(nowrap, center, center);
}

.main-cont{
  width: 100%;
  min-height: 95vh;
  background: rgb(255,191,105);
  background: linear-gradient(145deg, rgba(255,191,105,1) 11%, rgba(255,179,71,1) 32%, rgba(255,170,51,1) 61%);
  @include FlexRow(nowrap, center, flex-end);
}

.queue{
  width: 100px;
  color: $black-light;
}

.building-section {
  margin: 0 75px;
}
.roof{
  width: 516px;
  height: 8px;
  margin-bottom: -2px;
  background-image: url($roofsvg);
  background-repeat: no-repeat;
}

.building-cont {
  @include FlexRow(nowrap, center, center);
  box-sizing: content-box;
  width: $buildingWidth;
  height: $buildingHeight;
  border: 8px solid $grey-light;
  border-bottom: 4px solid $grey-light;
  border-radius: 4px 4px 0 0;
}

.floors-cont{
  width: 100%;
  height: 100%;
  .floor, .shaft{
    width: 100%;
    height: calc($buildingHeight / 9); 
  }
  .floor{
    @include FlexRow(nowrap, space-between, center);
    background: rgb(7,199,199);
    background: linear-gradient(97deg, rgba(7,199,199,1) 0%, rgba(7,199,199,1) 63%, rgba(7,176,176,1) 100%);
    padding: 0 20px;
    height: calc($buildingHeight / 9);
    p {
      @include FlexRow(nowrap, center, center);
      width: 40px;
      height: 40px;
      padding: 20px;
      color: $blue-dark;
      background-color: $yellow-light;
      border-radius: 50%;
      border: 2px solid $white;
      font-size: 26px;
      font-family: 'Michroma', sans-serif;
    }
    .window {
      box-sizing: content-box;
      width: 150px;
      height: 35px;
      background: rgb(255,191,105);
      background: linear-gradient(145deg, rgba(255,191,105,1) 11%, rgba(255,179,71,1) 61%);
      transform: skewY(-0.3deg);
      border: 1px solid $black-light;
    }
    .window::before{
      content: '';
      display: block;
      width: 1px;
      height: 35px;
      background-color: $black-light;
      margin: 0 auto;
    }
  }
  .shaft{
    background-color: $grey;
  }
}


.elevator-cont{
  width: 50%;
  .divide {
    width: 2px;
    height: calc($buildingHeight / 9);
    background-color: $grey;
  }
  .floor, .shaft{
    width: 100%;
    height: calc($buildingHeight / 9);
  }
  .floor{
    @include FlexRow(nowrap,space-between, flex-end);
    background-color: #07B0B0;
    overflow: hidden;
  }
  .elevator {
    @include FlexRow(nowrap, space-between, flex-end);

    .button {
      width: 15px;
      height: 15px;
      margin-bottom: 15px;
      background-color: $green;
      border: 2px solid $black-light;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }
    .active {
      background-color: $red;
    }
    .inactive {
      background-color: $yellow-light;
    }
    .currentFloor{
      background-color: $grey;
      color: $yellow-light;
    }

    .button-cont:hover{
      cursor: pointer;
    }
    .cabin {
      @include FlexRow(nowrap, center, center);
      width: 35px;
      height: 40px;
      margin: 0 20px -1px 10px;
      border: 2px solid $black-light;
      border-bottom: 3px solid $grey-light;
      transition: all 0.2s ease-in-out;
      transform: skewY(0.7deg);
      overflow: hidden;
      background-color: $blue;
      box-sizing: content-box;
    }
    .cabin::before, .cabin::after{
      content: '';
      display: inline-block;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: calc(50% + 2px);
      height: calc(100%);
      background-color: grey;
    }
    .cabin::before{
      border-right: 1px solid $black-light ;
    }
    .cabin.present::before{
      animation: slideDoorLeft 5s;
    }
    .cabin::after{
      border-left: 1px solid $black-light ;
    }
    .cabin.present::after{
      animation: slideDoorRight 5s;
    }
  }
  .shaft{
    background-color: #525252;
    @include FlexRow(nowrap, flex-start, flex-start);
    .lightbulb {
      width: 7px;
      height: 7px;
      margin: 10px 20px;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
    }
    .on{
      background-color: $yellow;
      box-shadow:
      0 0 15px 1px #ffcc32,  /* inner white */
      0 0 10px 1px #ffcc32,  /* inner white */
    }
    .off {
      background-color: $grey-light;
    }
  }
}
@keyframes slideDoorLeft {
  0% {
      transform: translateX(0);
  }
  40%{
      transform: translateX(-100%);
  }
  60%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes slideDoorRight {
  0% {
      transform: translateX(0);
  }
  40%{
      transform: translateX(100%);
  }
  60%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0);
  }
}

.elevator-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  width: 155px;
  height: 200px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 16px 0px $black-light, 5px 5px 15px 5px rgba(0,0,0,0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid $grey;
  margin-bottom: calc($buildingHeight / 3);
    .button{
      @include FlexRow(nowrap, center, center);
      width: 35px;
      height: 35px;
      margin: 3px;
      color: $black-light;
      font-weight: 400;
      font-size: 28px;
      border-radius: 10px;
      border: 2px solid $white;
      transition: all 0.2s ease-in-out;
      user-select: none;
    }
    .active {
      background-color: $red;
    }
    .inactive {
      background-color: $yellow-light;
    }
    .activeRequest {
      background-color: $black-light;
      color: $yellow-light;
    }
    .currentFloor{
      background-color: $black-light;
      color: $yellow-light;
    }
    .groundfloor {
      flex-basis: 100%;
    }
    .button:hover {
      cursor: pointer;
    }
  }
