* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4C4343;
  color: #EBEBEB;
  font-family: "Montserrat", sans-serif;
}

/**** *****/
#root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.main-cont {
  width: 100%;
  min-height: 95vh;
  background: rgb(255, 191, 105);
  background: linear-gradient(145deg, rgb(255, 191, 105) 11%, rgb(255, 179, 71) 32%, rgb(255, 170, 51) 61%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.queue {
  width: 100px;
  color: #4C4343;
}

.building-section {
  margin: 0 75px;
}

.roof {
  width: 516px;
  height: 8px;
  margin-bottom: -2px;
  background-image: url("./img/roofsvg.svg");
  background-repeat: no-repeat;
}

.building-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 500px;
  height: 594px;
  border: 8px solid #757575;
  border-bottom: 4px solid #757575;
  border-radius: 4px 4px 0 0;
}

.floors-cont {
  width: 100%;
  height: 100%;
}
.floors-cont .floor, .floors-cont .shaft {
  width: 100%;
  height: 66px;
}
.floors-cont .floor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(7, 199, 199);
  background: linear-gradient(97deg, rgb(7, 199, 199) 0%, rgb(7, 199, 199) 63%, rgb(7, 176, 176) 100%);
  padding: 0 20px;
  height: 66px;
}
.floors-cont .floor p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 20px;
  color: #07B0B0;
  background-color: #EED595;
  border-radius: 50%;
  border: 2px solid #EBEBEB;
  font-size: 26px;
  font-family: "Michroma", sans-serif;
}
.floors-cont .floor .window {
  box-sizing: content-box;
  width: 150px;
  height: 35px;
  background: rgb(255, 191, 105);
  background: linear-gradient(145deg, rgb(255, 191, 105) 11%, rgb(255, 179, 71) 61%);
  transform: skewY(-0.3deg);
  border: 1px solid #4C4343;
}
.floors-cont .floor .window::before {
  content: "";
  display: block;
  width: 1px;
  height: 35px;
  background-color: #4C4343;
  margin: 0 auto;
}
.floors-cont .shaft {
  background-color: #666666;
}

.elevator-cont {
  width: 50%;
}
.elevator-cont .divide {
  width: 2px;
  height: 66px;
  background-color: #666666;
}
.elevator-cont .floor, .elevator-cont .shaft {
  width: 100%;
  height: 66px;
}
.elevator-cont .floor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #07B0B0;
  overflow: hidden;
}
.elevator-cont .elevator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.elevator-cont .elevator .button-cont .button {
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  background-color: #28A428;
  border: 2px solid #4C4343;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.elevator-cont .elevator .button-cont .active {
  background-color: #ED4B45;
}
.elevator-cont .elevator .button-cont .inactive {
  background-color: #EED595;
}
.elevator-cont .elevator .button-cont .activeRequest {
  background-color: #666666;
  color: #EED595;
}
.elevator-cont .elevator .button-cont .currentFloor {
  background-color: #666666;
  color: #EED595;
}
.elevator-cont .elevator .button-cont:hover {
  cursor: pointer;
}
.elevator-cont .elevator .cabin {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  margin: 0 20px -1px 10px;
  border: 2px solid #4C4343;
  border-bottom: 3px solid #757575;
  transition: all 0.2s ease-in-out;
  transform: skewY(0.7deg);
  overflow: hidden;
  background-color: #07c7c7;
  box-sizing: content-box;
}
.elevator-cont .elevator .cabin::before, .elevator-cont .elevator .cabin::after {
  content: "";
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(50% + 2px);
  height: 100%;
  background-color: grey;
}
.elevator-cont .elevator .cabin::before {
  border-right: 1px solid #4C4343;
}
.elevator-cont .elevator .cabin.present::before {
  -webkit-animation: slideDoorLeft 5s;
          animation: slideDoorLeft 5s;
}
.elevator-cont .elevator .cabin::after {
  border-left: 1px solid #4C4343;
}
.elevator-cont .elevator .cabin.present::after {
  -webkit-animation: slideDoorRight 5s;
          animation: slideDoorRight 5s;
}
.elevator-cont .shaft {
  background-color: #525252;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.elevator-cont .shaft .lightbulb {
  width: 7px;
  height: 7px;
  margin: 10px 20px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.elevator-cont .shaft .on {
  background-color: #ffcc32;
  box-shadow: 0 0 15px 1px #ffcc32, 0 0 10px 1px #ffcc32;
}
.elevator-cont .shaft .off {
  background-color: #757575;
}

@-webkit-keyframes slideDoorLeft {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDoorLeft {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideDoorRight {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideDoorRight {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.elevator-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-family: "Abel", sans-serif;
  width: 155px;
  height: 200px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 2px 5px 16px 0px #4C4343, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #666666;
  margin-bottom: 198px;
}
.elevator-control .button {
  width: 35px;
  height: 35px;
  margin: 3px;
  color: #4C4343;
  font-weight: 400;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid #EBEBEB;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.elevator-control .active {
  background-color: #ED4B45;
}
.elevator-control .inactive {
  background-color: #EED595;
}
.elevator-control .activeRequest {
  background-color: #4C4343;
  color: #EED595;
}
.elevator-control .currentFloor {
  background-color: #4C4343;
  color: #EED595;
}
.elevator-control .groundfloor {
  flex-basis: 100%;
}
.elevator-control .button:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */